%rebase('base.tpl')

  <h2 class="title is-2">Razlaga množic števil in nekaterih lastnosti za, ki jih dobimo za vsa vnešena števila</h2>

  
  <section class="section"></section>
    <h6 class="title is-6">Tipi števil</h6>
    <b>Celo število</b> je število, ki vsebuje same cele enote, ne pa delov enot. Če je celo število pozitivno, mu pravimo <b>naravno število</b>. Npr: 45, -45
    <b>Decimalno število</b> je število, ki poleg celega dela enote vsebuje tudi dele enot. Delom enot pravimo decimalni del. Npr.: 45.7
    <b>Kompleksno število</b> je število, ki je sestavljeno iz relanega dela in imaginarnega dela. Npr.: 4+7j 
    Več o vrstah števil si lahko pogledaš na <a href="https://sl.wikipedia.org/wiki/Seznam_vrst_%C5%A1tevil">spletni strani Wikipeda</a>
  </section>
  
  <section class="section">
    <h6 class="title is-6">Lastnosti celih števil</h6>
    <a class="button is-primary is-outlined" href="https://sl.wikipedia.org/wiki/Pra%C5%A1tevilski_razcep">Praštevilski razcep</a>
    <a class="button is-primary is-outlined" href="https://sl.wikipedia.org/wiki/Kvadratno_%C5%A1tevilo">Kvadratno število</a>
    <a class="button is-primary is-outlined" href="https://sl.wikipedia.org/wiki/Trikotni%C5%A1ko_%C5%A1tevilo">Trikotniško število</a>
  </section>

  <section class="section">
    <h6 class="title is-6" >Lastnosti kompleksnih števil</h6>
    <b>Čisto imaginarno število</b> je kompleksno število, katerega relani del je enak 0.
  </section>

  <form action="/" method="GET">
    <input class="button is-light" type="submit" value="Nazaj na prvo stran"> 
  </form>